<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home page</title>
</head>
<body>
    <div class="container mt-5">
        <h3>
            Hello, Patrick
        </h3>
        <p>Here is the index page. Please add as many templates as you want.</p>
        <p>What you need to do now:</p>
        <ul>
            <li>
                All the HTML files will be in the <code>templates</code> folder.
            </li>
            <li>
                <code>views.py</code> is where you are going to define your routes (check how I did index).
            </li>
            <li>
                <code>__init__.py</code> is making the <code>app</code> folder a module so you can be able to import its objects.
            </li>
        </ul>
    </div>
    <!-- Add Bootstrap JS and jQuery (optional, for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
